
/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

pre code {
  display: block; padding: 0.5em;
  background: #002b36; color: #92a0a0;
}

pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .lisp .string,
pre .javadoc {
  color: #586e75;
  font-style: italic;
  display: inline-block;
  line-height: 1em;
}

pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .method,
pre .addition,
pre .css .tag,
pre .lisp .title {
  color: #859900;
}

pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}

pre .title,
pre .localvars,
pre .function .title,
pre .chunk,
pre .decorator,
pre .builtin,
pre .built_in,
pre .lisp .title,
pre .identifier,
pre .title .keymethods,
pre .id,
pre .header {
  color: #268bd2;
}

pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  font-weight: bold;
}

pre .attribute,
pre .variable,
pre .instancevar,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .label {
  color: #b58900;
}

pre .preprocessor,
pre .pi,
pre .shebang,
pre .symbol,
pre .diff .change,
pre .special,
pre .keymethods,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata {
  color: #cb4b16;
}

pre .deletion {
  color: #dc322f;
}

pre .tex .formula,
pre .code {
  background: #073642;
}

body {
  color: #fff;
  background: #002B36;
  margin: 0px;
}

/* textarea */

textarea {
  background: transparent;
  border: 0px;
  color: #fff;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: monospace;
  outline: none;
  resize: none;
  font-size: 13px;
}

html, body, #pasteform {
  width: 100%;
  height: 100%;
}
#wrap {
  padding: 40px 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
#prompt {
  position: absolute;
  left: 35px;
  top: 38px;
  color: #92a0a0;
}
#header {
  position: absolute;
  top: 10px;
  color: #92a0a0;
  height: 26px;
  line-height: 26px;
}
#paste {
  margin: 0;
  position: relative;
  left: -36px;
}